
/* header */
#header {
    background-color: #E9ECEF;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid red;
}

/* left */
#left_nav {
    float: left;
    width: 20%;
    border: 1px solid red;
}

/* right */

#right_show {
    float: right;
    width: 75%;
    height: 100%;
    border: 1px solid red;
}


#identity {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid red;
    color: blue;
}

#two_umap_left {
    float: left;
    width: 40%;
    height: 50%;
    border: 1px solid red;
}


.umap_div {
    border: 1px dashed green;
}

.umap_div h2 {
    text-align: center;
}

.location_div {
    border: 1px dashed green;
}

.location_div h2 {
    text-align: center;
}

.location_div #location {
    width: 80%;

}

.heatmap_div {
    float: right;
    width: 50%;
    border: 1px dashed green;
}

.heatmap_div h2 {
    text-align: center;
}

#umap {
    width: 100%;
}

#heatmap {
    width: 100%;
}

.viewer_div {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid purple;
    clear: both;
    width: 100%;
    height: 50px;
    background-color: lightblue;
}

.viewer_div a {
    text-align: center;
    display:block;
    line-height:50px;
}