/* banner */
#banner {
    background-color: #E9ECEF;
    width: 100%;
    height: 100px;
    line-height: 60px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
}

/*left*/

#left_nav {
    margin-top:20px;
    width:10%;
    float:left;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

/*right*/

#right_show {
    margin-top:20px;
    float: right;
    width:80%;
}

#score_information {
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

#score_information h2 {
    text-align: center;
}

#score_information span {
    color: blue;
}


#doublet {
    float: left;
    width: 45%;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

#doublet h2 {
    text-align: center;
}

#identity {
    float: right;
    width: 45%;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

#identity h2 {
    text-align: center;
}

#enrichment {
    clear: both;
    display: block;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

#enrichment h2 {
    text-align: center;
}

.marker_umap {
    clear: both;
    display: block;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.marker_umap h2 {
    text-align: center;
}

.exclusive_umap {
    clear: both;
    display: block;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.exclusive_umap h2 {
    text-align: center;
}


.inspection_div {
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 25px;
    background-color: lightblue;
    height: 50px;
}

.inspection_div a {
    text-align: center;
    display:block;
    line-height:50px;
}

